POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_INNER_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=usersdb

RABBITMQ_URL=amqp://rabbitmq:5672

APP_INNER_PORT=3000
APP_PORT=3000

WEBHOOK_URL=https://webhook.site/your-id

NOTIFICATION_DELAY=10000
